h1 {
    color:antiquewhite;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px; 
    background:beige; 
    padding:50px; 
    border: 10px solid black; 
}
#spanid {
    font-size: 18px; 
    margin: 50px;
}
 
